html, body, #outer {
    height: 100%;
    width: 100%;
    margin: 0;
}

div {
    margin: 0;
}

#outer {
    display: table;
}

#inner_fixed {
    height: 50px;
    background-color: grey;

    display: table-row;
}

#inner_remaining {
    background-color: #DDDDDD;
    display: table-row;
}

.fill {
    min-height: 100%;
    height: 100%;
    margin: 0;
}